/* ---------------- Normalize  ---------------- */
.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.45em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

.page_index main, .page_index > hr {
  display: none !important;
}

a, ::before, ::after, img, figure, article, li, #fixed-tabs, #header, #banner, h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before {
  transition: all 0.2s;
}

i {
  display: inline;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.shadow {
  box-shadow: 0 0 3px #000;
}

img {
  max-width: 100%;
}

a, .btn {
  cursor: pointer;
}

header {
  z-index: 99;
}

footer {
  z-index: 100;
}

/* ---------------- Animations  ---------------- */
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* ---------------- Global Styles  ---------------- */
.flex-ed, .col-flex-ed {
  display: flex;
}

.flex-ed {
  -webkit-box-orient: horizontal;
}

.col-flex-ed {
  flex-flow: column;
}

star {
  line-height: 1;
  margin: 7px auto;
  display: block;
}

star:after {
  font-size: 22px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #febb21;
  padding: 0 10px;
  letter-spacing: 8.8px;
}

/* -------  Fixed Tabs ------------ */
#fixed-tabs {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  display: flex;
  z-index: 200;
}

#fixed-tabs a {
  font-family: brother-1816, sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 0;
  flex: 1;
}

#fixed-tabs .ra {
  flex: 2;
}

#fixed-tabs a:nth-of-type(odd) {
  background-color: #3e8c68;
}

#fixed-tabs a:nth-of-type(even) {
  background-color: #010824;
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}
@media (max-width: 1030px) {
  #fixed-tabs i {
    display: inline-block;
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
  }
  footer {
    margin-bottom: 42px !important;
  }
}
@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
}
/* ---------------- page foundation ---------- */
body {
  position: relative;
  background: #fff;
  text-align: center;
  color: #231f20;
  font: 400 18px/26px oswald, sans-serif;
  overflow-x: none;
}

p {
  color: #231f20;
  font: 300 20px/26px brother-1816, sans-serif;
  text-align: left;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #5EB88F;
}

a:hover {
  color: #03104B;
}

h1, h2 h3, h4, h5, h6 {
  font-family: oswald, sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  color: #fff;
  font: 400 35px/1.3 oswald, sans-serif;
  letter-spacing: 1.13px;
}

h1 span {
  font: 500 64px/1.07 oswald, sans-serif;
  color: white;
  display: block;
  letter-spacing: -2.56px;
}

h2 {
  font: 200 50px/1.1 oswald, sans-serif;
  text-transform: uppercase;
  color: #343434;
  letter-spacing: -0.03em;
  margin: 10px 0;
}

h3 {
  font: 600 30px/1 oswald, sans-serif;
  color: #03104B;
  margin: 20px auto 0;
  letter-spacing: 0.15px;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  text-align: left;
  display: table;
}
main ul li {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  line-height: 1.2;
  margin: 10px auto;
}
main ul li:before {
  content: "\e832";
  font-family: fontello;
  position: absolute;
  left: 0;
  top: 0;
  color: #5EB88F;
}

.star:before {
  font-size: 18px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #febb21;
  letter-spacing: 8.4px;
}

/*  --------------  Buttons ----------------- */
.btn,
.btn-alt {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 12px 15px;
  min-width: 310px;
  text-align: center;
  color: #fff;
  background-color: #5EB88F;
  border: 1px solid #5EB88F;
  font: 700 18px/1.1 oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.btn span,
.btn-alt span {
  text-transform: uppercase;
  font-size: 13px;
  vertical-align: middle;
}
.btn:hover,
.btn-alt:hover {
  background-color: #03104B;
  color: #fff;
}

#safe-bar {
  background-color: #5EB88F;
  padding: 10px;
  font-family: brother-1816, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}
#safe-bar span {
  margin: auto 15px;
}

header {
  position: relative;
  padding: 15px;
  z-index: 100;
  background-color: #fff;
}
header .tel {
  color: #5EB88F;
  font: 400 41px/1.3 brother-1816, sans-serif;
  margin: 0;
}
header .tel > span {
  color: #231f20;
  font: 700 20px/1 brother-1816, sans-serif;
  margin: 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .tel:hover {
  color: #03104B;
}
header #nav {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 0 10px;
}
header #nav .btn {
  transition: 0.3s all ease;
  line-height: 1.2;
  color: #fff;
  background: rgb(94, 184, 143);
  background: linear-gradient(73deg, rgb(94, 184, 143) 0%, rgb(14, 30, 94) 100%);
  font-size: 29px;
  padding: 11px 15px;
  margin: 0;
  letter-spacing: 1.45px;
  min-width: 195px;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
}
header #nav .btn span {
  display: block;
  font-size: 14px;
  letter-spacing: 0.7px;
}
header #nav .btn:hover {
  color: white;
  background: rgb(14, 30, 94);
  background: linear-gradient(73deg, rgb(14, 30, 94) 0%, rgb(94, 184, 143) 100%);
}
header #nav .logo {
  opacity: 1;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 1;
}
header #nav #mobile-btns .btn {
  display: flex;
  background: #5EB88F;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
}
header #nav #mobile-btns .btn span {
  width: 100%;
  font-size: 28px;
}
header #nav #mobile-btns .phone, header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header #nav #mobile-btns .phone span, header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  background-color: #03104B;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  font-family: brother-1816, sans-serif;
}
header #nav #mobile-btns .phone span {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: brother-1816, sans-serif;
}
header #nav #mobile-btns #mobile-special .container {
  margin: 10px 0;
  border-top: 2px solid #AFB1B1;
  border-bottom: 2px solid #AFB1B1;
  padding: 5px;
}
header #nav #mobile-btns #mobile-special .container h4 {
  color: #f2c845;
  font-size: 22px;
  margin: 0;
}
header #nav #mobile-btns #mobile-special .container small {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
}

@media (min-width: 1000px) {
  #mobile-btns {
    display: none !important;
  }
}
.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideIn;
  z-index: 1100;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  padding-bottom: 10px;
}
.fix-nav header .logo img {
  max-height: 100px;
  display: block;
}
.fix-nav header #nav .logo {
  display: block;
  opacity: 1;
  margin-bottom: 0;
}

.address {
  color: #231f20;
  font: 400 20px/21px brother-1816, sans-serif;
  margin: 0;
  display: block;
}
.address:hover {
  color: #5EB88F;
}

.phone {
  color: #5EB88F;
  font: 700 25px/30px oswald, sans-serif;
  letter-spacing: normal;
}
.phone span {
  color: #fff;
  display: block;
  font: 700 16px/24px oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 5px;
}
.phone:hover {
  color: #03104B;
}

/* ------------   Split Img ------------- */
.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 100px auto;
}
.split article {
  margin: 10px;
  padding: 10px;
  flex: 0 1 520px;
}
.split article p {
  letter-spacing: normal;
  line-height: 30px;
  margin-bottom: 30px;
}
.split hr {
  display: none;
}
.split .btn {
  margin: 10px auto 30px;
}
.split figure img {
  position: relative;
}
.split .no-shad img {
  box-shadow: none;
}
.split.even figure {
  order: -1;
}

/* -------------- Banner ----------------- */
#banner {
  display: flex;
  border-bottom: 10px solid #03104B;
  flex-flow: row wrap;
  justify-content: space-between;
  background: url(assets/images/lp-suresmile-banner-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#banner > * {
  flex: 1 0 500px;
}
#banner figure {
  margin: 0;
  position: relative;
  order: 1;
  text-align: center;
}
#banner figure figcaption {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  font-family: brother-1816, sans-serif;
  text-transform: uppercase;
}
#banner figure img {
  width: 100%;
  position: relative;
  width: 100%;
}
#banner figure .caption {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1.3px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  color: #231f20;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}
#banner figure .caption a {
  color: #231f20;
  letter-spacing: 1.6px;
}
#banner figure .caption a:hover {
  color: #5EB88F;
}
#banner .flex-ed {
  display: flex;
}
#banner article {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: flex;
  margin: auto;
  flex: 0 1 600px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#banner article .banner-block {
  background-color: #fff;
  padding: 20px 40px;
  width: 415px;
  position: relative;
}
#banner article .banner-block h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 200;
}
#banner article .banner-block h3 span {
  color: #5EB88F;
}
#banner article .banner-block:before {
  width: 100%;
  content: "";
  height: 85%;
  background-color: #5EB88F;
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: -1;
}
#banner article * {
  color: #000;
}
#banner article small {
  opacity: 0.4;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
}
#banner article h1 {
  font-size: 58px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
#banner article h1 span {
  display: block;
  font-size: 94px;
  line-height: 1;
  color: #fff;
}
#banner article hr {
  border-bottom: none;
  display: block;
  margin-top: -2px;
  margin-bottom: 0px;
  width: 250px;
  background-image: url("assets/images/lp-suresmile-line.png");
  height: 2px;
}

#banner-wrapper {
  position: relative;
  margin-top: -60px;
  z-index: 101;
}

#banner-wrapper:before {
  background-color: #eef7ff;
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  content: "";
  z-index: -2;
  bottom: -300px;
}

#mobile-review {
  display: none;
  background-color: #fff;
  padding: 100px 0;
}
#mobile-review #mobile-review-container {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
  max-width: 1200px;
  color: #fff;
  align-items: center;
  padding: 0;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 10px;
}
#mobile-review #mobile-review-container #google {
  background-color: #fff;
  flex: 100%;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 0 0 20px;
}
#mobile-review #mobile-review-container #google img {
  padding: 5px 0;
}
#mobile-review #mobile-review-container #google > div {
  margin: 70px auto 0;
  padding: 5px 25px;
}
#mobile-review #mobile-review-container #google p {
  color: #5EB88F;
  line-height: 37px;
  display: block;
  margin-top: 25px;
  font-size: 18px;
  color: #231f20;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
}
#mobile-review #mobile-review-container #google .review-stamp {
  position: absolute;
  top: -50px;
  left: -50px;
}
#mobile-review #mobile-review-container .comment {
  flex: 1 1 780px;
  padding: 10px 25px 45px;
  text-align: left;
  margin: auto;
}
#mobile-review #mobile-review-container .comment p {
  text-align: center;
  font: 300 27px/30px brother-1816, sans-serif;
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
#mobile-review #mobile-review-container .comment .caption2 {
  font: 600 18px/1 brother-1816, sans-serif;
  text-transform: uppercase;
  margin: 30px 0 10px;
  letter-spacing: 1.95px;
}

#review-container {
  max-width: 1260px;
  margin: 80px auto 60px;
  box-shadow: 5px 4px 4px lightgray;
}
#review-container #reviews {
  width: 98%;
  margin-left: auto;
  background-color: #fff;
  position: relative;
}
#review-container #reviews:before {
  width: 100%;
  content: "";
  height: 95%;
  background-color: #5EB88F;
  position: absolute;
  left: -25px;
  bottom: 0;
  z-index: -1;
}
#review-container #reviews .flex-ed {
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}
#review-container #reviews .flex-ed figure {
  position: relative;
}
#review-container #reviews .flex-ed figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
#review-container #reviews .reviews-image {
  margin: 40px;
  margin-right: 10px;
}
#review-container #reviews .gallery {
  max-width: 1000px;
  flex: 0 1 900px;
  margin: 0;
  padding: 0 30px;
}
#review-container #reviews .gallery .review {
  text-align: left;
  padding-left: 50px;
  color: #fff;
  position: relative;
}
#review-container #reviews .gallery .review h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 45px;
}
#review-container #reviews .gallery .review p {
  color: #231f20;
  font-family: brother-1816, sans-serif;
  font-size: 23px;
}
#review-container #reviews .gallery .review author {
  color: #231f20;
  text-transform: uppercase;
  font-weight: 700;
  font-family: brother-1816, sans-serif;
  display: flex;
}
#review-container #reviews .gallery .review img {
  margin-left: 0;
  margin-top: 10px;
}
#review-container #reviews .gallery .review:before {
  content: "\e838";
  position: absolute;
  left: 0;
  top: 45px;
  font-family: fontello;
  opacity: 1;
  color: #90ceb4;
  font-size: 46px;
  transform: rotateZ(180deg);
  display: block;
  z-index: 10;
}
#review-container #reviews .gallery .review:after {
  content: "\e838";
  position: absolute;
  right: 0;
  bottom: 45px;
  font-family: fontello;
  opacity: 1;
  color: #90ceb4;
  font-size: 46px;
  display: block;
  z-index: 10;
}

#forms {
  position: relative;
  background-color: #03104B;
  padding: 30px 15px 50px;
}
#forms form {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  width: 1150px;
  margin: 0 auto;
  z-index: 3;
}
#forms form h3 {
  font: 200 42px/1 oswald, sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0 10px;
}
#forms form h3 span {
  color: #f2c845;
  display: block;
}
#forms form hr {
  border-bottom: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 250px;
  background-image: url("assets/images/lp-suresmile-line.png");
  height: 2px;
}
#forms form input, #forms form textarea, #forms form select {
  height: 44px;
  border: none;
  background-color: #f2f2f2;
  font-size: 17px;
  font-family: "Barlow", sans-serif;
  color: #231f20;
  padding: 5px;
  display: block;
}
#forms form textarea {
  width: 100%;
  height: 96px;
  padding-left: 10px;
}
#forms form .btn {
  margin: 5px 0 0;
  border-radius: 0;
  padding: 12px 20px;
  font-family: brother-1816, sans-serif;
}
#forms .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  max-width: 950px;
  margin: auto;
}
#forms .container div {
  flex: 0 1 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#forms .container div:last-of-type {
  max-width: 525px;
  flex: 0 1 50%;
}
#forms .container span {
  font-size: 16px;
  padding: 5px 0;
}
#forms .container span input, #forms .container span select {
  width: 100%;
}
#forms .container select {
  min-width: 140px;
}

/* ---------------- Callouts Styles  ---------------- */
.callouts {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1140px;
  height: auto;
  padding: 10px 0;
  width: 100%;
  margin-top: 80px;
  z-index: 102;
}
.callouts .col {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin: 15px 0;
  padding: 5px;
}
.callouts .col h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
.callouts .col:hover h3 {
  color: #03104B;
}
.callouts .portrait {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.callouts .portrait:after {
  content: "";
  width: 95%;
  height: 95%;
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.callouts .portrait:hover:after {
  border-color: #03104B;
}
.callouts .portrait img {
  position: relative;
  z-index: 3;
}
.callouts p {
  line-height: 1.33;
  margin-top: 20px;
  letter-spacing: 0.45px;
  font-size: 18px;
}

#secondary {
  background-color: #4fa79d;
  margin: 0 auto 10px;
  padding: 60px 20px;
}
#secondary .callouts {
  margin-top: 0;
}
#secondary a {
  flex: 0 0 255px;
}
#secondary a h3 {
  letter-spacing: normal;
  line-height: 1.35;
  margin: 0 auto;
  color: #03104B;
  font-weight: 700;
  font-family: oswald, sans-serif;
  font-size: 26px;
}
#secondary .callouts .portrait {
  min-height: 260px;
}
#secondary .callouts .portrait:after {
  width: 92%;
  height: 92%;
  border: 2px solid #5EB88F;
}
#secondary .callouts .portrait:hover:after {
  border-color: #03104B;
}
#secondary .callouts .icon-location {
  top: -5px;
  font-size: 30px;
  color: #f2c845;
}

/* -------------- Team ----------------- */
#team h2 {
  margin-bottom: 30px;
}
#team hr {
  display: none;
}
#team br {
  display: none;
}
#team figure {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 575px;
}
#team figcaption {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 5px;
}
#team figcaption span {
  padding: 0 7px;
}

#team figcaption {
  position: relative;
  bottom: 51px;
  background-color: #303542;
  width: 100%;
  color: white;
  padding: 5px 10px;
}
#team figcaption span {
  color: #4fa79d;
}
#team figcaption a {
  color: #fff;
  letter-spacing: normal;
  font-family: oswald, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#team figcaption a:hover {
  color: #f2c845;
}

/* --------- Benefits -------- */
#benefits {
  padding-top: 75px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 300;
  background: url(assets/images/lp-suresmile-benefits.jpg);
  background-size: cover;
}

#benefits h2 {
  margin-bottom: 20px;
  font-size: 71px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
}

#benefits h3 {
  font-family: oswald, sans-serif;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-align: left;
}

#benefits hr {
  border-bottom: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 250px;
  background-image: url("assets/images/lp-suresmile-line.png");
  height: 2px;
}

#benefits .flex-ed {
  padding: 0 10px;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  align-items: center;
}

/*#benefits .flex-ed:after{content:'';position:absolute;top:0;right:0;width:50%;height:100%;background-color:#162148;z-index:-1}*/
#benefits .col-flex-ed {
  position: relative;
}

#benefits ul {
  padding-left: 0;
}

#benefits h2 small {
  font-weight: 400;
}

#benefits ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin: 30px 0;
  padding-top: 5px;
  font-family: brother-1816, sans-serif;
  text-align: left;
  position: relative;
  padding-left: 35px;
}

#benefits ul li:before {
  content: url("assets/images/lp-suresmile-check.png");
  width: 20px;
  left: 0;
  position: absolute;
  display: inline-block;
  padding-top: 5px;
}

#benefits .braces li:before {
  content: url("assets/images/lp-suresmile-x.png");
}

.line {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.rounded-rect {
  width: 14px;
  height: 43px;
  background-color: #f2c845;
  border: 1.87px solid #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------- Contact --------------- */
footer {
  padding-top: 70px;
  background-color: #03104B;
  position: relative;
}
footer h2 {
  color: white;
  font-size: 71px;
}
footer hr {
  border-bottom: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 250px;
  background-image: url("assets/images/lp-suresmile-line.png");
  height: 2px;
}
footer .flex-ed {
  justify-content: space-around;
  align-items: center;
  max-width: 1150px;
  padding-bottom: 30px;
  margin: 30px auto;
}
footer article {
  background-color: #fff;
  position: relative;
  text-align: center;
  height: 438px;
  margin: 10px;
  flex: 0 1 800px;
  padding: 10px;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
footer article:before {
  width: 100%;
  content: "";
  height: 95%;
  background-color: #5EB88F;
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: -1;
}
footer .phone {
  font-size: 36px;
  color: #5EB88F;
  margin: 10px auto;
  font-weight: 400;
  display: block;
  font-family: brother-1816, sans-serif;
}
footer .phone span {
  color: #231f20;
  font-family: brother-1816, sans-serif;
}
footer .phone:hover {
  color: #03104B;
}
footer .phonelike {
  font-size: 36px;
  color: #5EB88F;
  margin: 10px auto;
  font-weight: 700;
  display: block;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
}
footer .address {
  color: #000;
  font-size: 20px;
  line-height: 1.33;
  margin-top: 20px;
  letter-spacing: 0.45px;
}
footer .address:hover {
  color: #5EB88F;
}
footer h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #101926;
  font-weight: 500;
  font-size: 30px;
  font-family: oswald, sans-serif;
}

#services, #footer-form {
  min-height: 430px;
}
#services h3, #footer-form h3 {
  font-size: 30px;
}

.contact {
  flex: 0 1 450px;
  padding: 30px 10px 20px;
}
.contact h3 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact p {
  padding-bottom: 20px;
  margin-top: 10px;
}

#map {
  display: table;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#map iframe {
  display: block;
}

#services {
  order: -1;
}
#services ul {
  margin-top: 30px;
  padding-left: 0;
  margin-bottom: 10px;
}
#services li {
  margin: 10px auto;
  list-style: none;
  text-align: center;
  border: 1px solid #5EB88F;
  border-radius: 2px;
  background-color: #5EB88F;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
}
#services li a {
  display: block;
  color: #fff;
  font-weight: 700;
  font-family: oswald, sans-serif;
  font-size: 24px;
  letter-spacing: normal;
  padding: 32px 20px;
}
#services li:hover {
  background-color: #03104B;
}
#services li:hover a {
  color: white;
}

.simple {
  margin: 20px 0 5px;
}
.simple .btn {
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 10px;
  min-width: auto;
  background-color: #5EB88F;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
}
.simple .btn:hover {
  background-color: #03104B;
}
.simple input, .simple select {
  height: 45px;
}
.simple textarea {
  height: 90px;
  padding-top: 8px;
}
.simple input, .simple textarea, .simple select {
  outline: none;
  border: none;
  background-color: #ededed;
  margin: 3px 0;
  width: 90%;
  padding: 6px 10px;
  font-size: 18px;
  color: #231f20;
}
.simple input:focus, .simple textarea:focus, .simple .btn:focus, .simple select:focus {
  background-color: #f7f4f4;
  box-shadow: inset 0 3px 0 #03104B;
}

::-moz-placeholder {
  color: #231f20;
}

::placeholder {
  color: #231f20;
}

.copy {
  background-color: #000;
  font: 400 12px/1.4 brother-1816, sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
  padding: 30px 0;
}
.copy span {
  padding: 0 5px;
}
.copy a {
  margin: auto;
  color: #5EB88F;
}
.copy a:hover {
  color: #5EB88F;
}
.copy p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
}

/* ---------------- New Patient Form ---------------- */
#landing-page-form {
  position: relative;
  max-width: 850px;
  padding: 0px 10px 10px;
  margin: 20px auto;
}
#landing-page-form h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #03104B;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
  text-shadow: none;
}
#landing-page-form p {
  max-width: 680px;
  margin: auto;
  margin-bottom: 30px;
}
#landing-page-form .simple {
  margin: auto;
  display: table;
  width: 100%;
  max-width: 550px;
}
#landing-page-form .simple label {
  display: none;
}
#landing-page-form .simple input {
  height: 50px;
}
#landing-page-form .simple textarea {
  height: 200px;
  margin-bottom: 30px;
  padding-top: 10px;
}
#landing-page-form .btn {
  width: 160px;
}

/* ---------------- Media Queries ---------------- */
@media (max-width: 1400px) {
  .top-logo {
    left: 5%;
    transform: translateX(-5%);
  }
}
@media (max-width: 1150px) {
  .addresses address:last-of-type {
    display: none;
  }
  .addresses {
    max-width: 500px;
  }
}
@media (max-width: 1110px) {
  h1 {
    font-size: 50px;
  }
  h1 span {
    font-size: 60px;
  }
  #banner article {
    flex: 0 1 48%;
  }
  #team figcaption a {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  h1 {
    font-size: 44px;
  }
  h1 span {
    font-size: 55px;
  }
  .callouts h3 {
    font-size: 25px;
  }
  #secondary a {
    flex: 0 0 230px;
  }
  #list {
    display: none;
  }
  #benefits .flex-ed div {
    margin: 0 20px;
  }
  #benefits .flex-ed h3 {
    text-align: center;
  }
  #benefits .flex-ed:after {
    display: none;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  }
  header #nav {
    padding: 0;
  }
  header #nav > .btn {
    display: none;
  }
  header .address, header .tel, header .location-title {
    display: none;
  }
  hr {
    display: block;
    max-width: 95%;
  }
  #nav {
    padding-top: 0;
    justify-content: space-around;
  }
  #nav .logo {
    flex: 0 1 270px;
    padding-top: 10px;
    margin-left: 0;
  }
  #nav .btn {
    margin: 10px 0 0;
  }
  header address a:first-of-type {
    display: none;
  }
  header address {
    flex: none;
    width: 240px;
  }
  #banner {
    background: url(assets/images/lp-suresmile-banner-bkg-mobile.jpg);
    background-color: #2b2b2b;
  }
  #banner h1 {
    font-size: 52px;
  }
  #banner article {
    min-width: 450px;
    padding: 40px 10px 10px;
    margin: 40px auto 50px;
    padding-top: 20px;
  }
  #banner article div {
    max-width: 500px;
    margin: 10px auto 15px;
  }
  #banner .flex-ed {
    display: block;
  }
  #banner figure {
    display: block;
  }
  #mobile-review {
    padding: 0;
    display: block;
  }
  #review-container {
    margin-top: 20px;
    margin-bottom: 0;
  }
  #reviews {
    display: none;
  }
  .split {
    margin: 20px auto;
    display: block;
  }
  .split article {
    max-width: 100%;
    padding: 20px 10px;
  }
  .split article .btn {
    float: none;
    margin: auto;
    display: table;
  }
  .split figure {
    margin: 20px auto;
  }
  .callouts {
    flex-wrap: wrap;
    max-width: 600px;
  }
  .callouts .calls {
    max-width: 600px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
  }
  #choice figure {
    margin-bottom: 0;
  }
  #secondary {
    padding: 15px 0;
  }
  #secondary a {
    flex: 0 0 255px;
  }
  footer .flex-ed {
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
  }
  footer .flex-ed figure {
    display: none;
  }
  #services {
    order: 1;
  }
  .contact {
    flex: 0 1 690px;
  }
  #services, #footer-form {
    flex: 1;
  }
  #team figure {
    max-width: 575px;
    margin: auto;
  }
}
@media (max-width: 900px) {
  #upper-form .fields {
    flex: 0 1 165px;
  }
  #nav .logo {
    margin-top: 0px;
    max-width: 100%;
    flex: 1 1 100%;
    display: block;
    opacity: 1;
    margin-bottom: 0;
  }
  #nav {
    flex-wrap: wrap;
    text-align: center;
  }
  #nav .btn {
    display: table;
    margin: 10px 5px;
  }
  .top-logo {
    display: none;
  }
  #banner-wrapper {
    margin-top: 0;
  }
  #safe-bar {
    background: linear-gradient(73deg, rgb(94, 184, 143) 0%, rgb(14, 30, 94) 100%);
  }
  #safe-bar span {
    width: 100%;
    display: block;
    text-transform: none;
    color: #fff;
    font-size: 18px;
  }
  #safe-bar span:nth-of-type(2) {
    display: none;
  }
  #benefits {
    background: url(assets/images/lp-suresmile-benefits-mobile.jpg);
    background-size: cover;
    padding: 50px 10px;
    background-repeat: no-repeat;
  }
  #benefits h2 {
    font-size: 45px;
  }
  footer .contact:before {
    left: 0;
    bottom: -20px;
  }
}
@media (max-width: 740px) {
  #forms .container div {
    flex: 100% !important;
    max-width: none !important;
  }
  #banner > * {
    flex: auto;
  }
  #banner figure {
    max-width: 100%;
  }
  #banner figure img {
    margin: 0;
    width: auto;
  }
  #banner article h1 {
    font-size: 36px;
  }
  #banner article h1 span {
    font-size: 68px;
  }
  #banner article .banner-block {
    max-width: 350px;
    margin: 0;
    width: auto;
  }
  #banner article .banner-block:before {
    bottom: -10px;
    left: 0;
  }
  #banner article .banner-block h3 {
    font-size: 34px;
  }
  #team br {
    display: block;
  }
  #team h2 {
    font-size: 45px;
  }
  #team hr {
    display: block;
    border-bottom: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 250px;
    background-image: url("assets/images/lp-suresmile-line.png");
    height: 2px;
  }
  #forms {
    border-top: 15px solid #5EB88F;
  }
  .callouts .col {
    margin: 0 auto;
  }
  .callouts a h3 {
    margin-bottom: 15px;
    line-height: 1.2;
  }
  #benefits .flex-ed {
    display: block;
  }
  #mobile-review {
    padding: 50px 25px;
  }
  #mobile-review #review-container #google {
    border-radius: 10px 10px 0 0;
    flex: auto;
  }
  #mobile-review #review-container .comment p {
    font-size: 30px;
    text-align: center;
  }
  #mobile-review #review-container .comment .caption2 {
    font-size: 18px;
    width: 100%;
  }
  footer h2 {
    font-size: 45px;
  }
}
@media (max-width: 590px) {
  #nav .logo {
    margin-bottom: 20px;
    max-width: 90%;
  }
  #banner h1 {
    font-size: 42px;
  }
  h1 span {
    font-size: 42px;
    margin: 10px;
  }
  #banner h1 small {
    font-size: 28px;
  }
  #banner article {
    min-width: 300px;
  }
  #banner article .btn {
    font-size: 28px;
  }
  #banner article div {
    line-height: 1.1;
  }
  h2 {
    margin-top: 20px;
    font-size: 30px;
  }
  .split figure {
    padding: 0 10px;
  }
  .split article p {
    text-align: center;
    padding: 0 10px;
  }
  .copy {
    padding: 40px 10px 25px;
  }
  #map {
    display: none;
  }
  footer .contact {
    padding: 20px 10px;
  }
  footer .flex-ed {
    display: block;
  }
  #landing-page-form h1 {
    font-size: 40px;
  }
  .btn {
    min-width: auto;
  }
  .btn {
    max-width: 100%;
  }
  #team figcaption span {
    display: block;
    font-size: 0;
    padding: 0;
    line-height: 0;
  }
  .addresses {
    flex-wrap: wrap;
    margin: auto;
  }
  address {
    margin: auto;
    text-align: center;
  }
  .split h2 {
    font-size: 45px;
  }
  .split hr {
    display: block;
    border-bottom: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 250px;
    background-image: url("assets/images/lp-suresmile-line.png");
    height: 2px;
  }
}
@media (max-width: 500px) {
  #banner article div {
    font-size: 35px;
  }
}
@media (max-width: 400px) {
  #banner h1 {
    font-size: 32px;
  }
  #banner article div {
    font-size: 24px;
    padding-top: 10px;
  }
  #banner article div span strong {
    font-size: 20px;
  }
  .split article .btn {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #callouts h2 {
    font-size: 36px;
  }
  .callouts {
    padding-bottom: 10px;
  }
  #team figure {
    display: table;
  }
  #services h3 {
    margin-top: 10px;
  }
  #services ul li a {
    font-size: 18px;
  }
  .copy {
    padding-bottom: 20px;
  }
}
@media (max-width: 350px) {
  #nav {
    display: block;
  }
  #nav .btn {
    margin: 10px auto;
  }
  #banner h1 {
    line-height: 1;
  }
  #banner article .btn {
    font-size: 20px;
  }
  #banner article div {
    font-size: 16px;
  }
  #banner article div span {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .split article .btn {
    padding: 5px 7px;
    font-size: 22px;
  }
}/*# sourceMappingURL=lp-suresmile-2023-styles.css.map */