/* ---------------- Normalize  ---------------- */
.progress,sub,sup{vertical-align:baseline}.block,.elem-left,.elem-right,article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,sub,sup{position:relative}body,figure{margin:0}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box; font-size: 100%;}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0 0 .67em}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:60%;line-height:0}sub{bottom:-.25em}sup{top:-.45em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;border:0}button,input,select,textarea{font:inherit;line-height:initial;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;border:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}*,::before,::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}address{font-style:normal!important}img{max-width:100%;display:block;margin:0 auto}.icon-gplus:before{margin-left:-1px!important}.page_index main,.page_index > hr{display:none!important}a,::before,::after,img,figure,article,li,#fixed-tabs,#header,#banner,h1,h2,h3,h4,h5,h6,.btn,.btn-alt,.btn:before,.btn-alt:before{-webkit-transition:all .2s;-webkit-transition:all .2s;transition:all .2s}i{display:inline}*,::before,::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}[class*=" icon-"]:before,[class^=icon-]:before{line-height:1!important;display:block!important}.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}.shadow{-webkit-box-shadow:0 0 3px #000;box-shadow:0 0 3px #000}img{max-width:100%}a,.btn{cursor:pointer}header{z-index:99}footer{z-index:100}
/* ---------------- Animations  ---------------- */
.animated{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideIn{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
/* ---------------- Global Styles  ---------------- */

.flex-ed, .col-flex-ed { display: -webkit-box; display: -ms-flexbox; display: flex; }
.flex-ed { -webkit-box-orient: horizontal; -webkit-box-direction: normal;  }
.col-flex-ed{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-flow:column;-ms-flex-flow:column}
star{line-height:1;margin:7px auto;display:block}
star:after{font-size:22px;font-family:'fontello';font-weight:400;margin:0;font-style:normal;content:'\e80f \e80f \e80f \e80f \e80f';color: #febb21;padding:0 10px; letter-spacing: 8.8px;}

$primary: #5EB88F;
$secondary:  #03104B;
$tertiary: #f2c845;
$star: #febb21;
$font: oswald, sans-serif; 
$font2: brother-1816, sans-serif; 
$text: #231f20;


/* -------  Fixed Tabs ------------ */
#fixed-tabs {position: fixed;bottom: 0; right: 0; width: 100%;  text-align: center; line-height: 1; display: flex; z-index: 1100;}
#fixed-tabs a {font-family: $font2; font-size: 13px; color: #fff; font-weight: 700; text-transform: uppercase;padding: 14px 0;  flex: 1;   }
#fixed-tabs .ra {flex: 2;}
#fixed-tabs a:nth-of-type(odd) { background-color: darken($primary, 15%);}
#fixed-tabs a:nth-of-type(even) { background-color: darken($secondary, 8%); }
@media (min-width:1031px) {
  #fixed-tabs { display: none; }
}
@media (max-width:1030px) { 
  #fixed-tabs i {  display: inline-block;  font-size: 16px; display: inline-block; margin-right: 5px; }
  footer {margin-bottom: 42px !important; }
}
@media (max-width:600px) {
  #fixed-tabs strong { display: none; }
}

/* ---------------- page foundation ---------- */

body {
    position: relative;
    background: #fff;
    text-align: center;
    color: $text;
    font: 400 18px/26px $font;
    overflow-x:hidden!important;
}
p {  color: $text; font: 300 20px/26px $font2;text-align:left;}
a { display: inline-block; text-decoration: none; cursor: pointer; color: $primary; }
a:hover {color: $secondary;}
h1, h2 h3, h4, h5, h6 {font-family: $font;  text-align: center;}
h1 {  margin: 0;  color: #fff; font: 400 35px/1.3 $font;  letter-spacing: 1.13px;}
h1 span {font: 500 64px/1.07 $font;  color: white; display: block; letter-spacing: -2.56px; }
h2 { font: 200 50px/1.1 $font; text-transform:uppercase;color: #343434; letter-spacing: -0.03em;  margin: 10px 0; }
h3 { font: 600 30px/1 $font;  color:$secondary;   margin: 20px auto 0; letter-spacing: 0.15px; }
main ul {list-style: none; padding: 0; margin: 10px auto; text-align: left; display: table;
    li {position: relative; padding-left: 35px; font-size: 24px; line-height: 1.2; margin: 10px auto;
        &:before {content: '\e832'; font-family: fontello; position: absolute; left: 0; top: 0; color: $primary;}
    }
}
.star:before {font-size:18px;font-family:'fontello';font-weight:400;margin:0;font-style:normal;content:'\e80f \e80f \e80f \e80f \e80f';color:$star;letter-spacing:8.4px}

/*  --------------  Buttons ----------------- */
.btn,
.btn-alt {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 12px 15px;
    min-width: 310px;
    text-align: center;
    color: #fff;
    background-color: $primary;
    border: 1px solid $primary;
    font: 700 18px/1.1 $font;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    span {text-transform: uppercase; font-size: 13px;  vertical-align: middle; }
    &:hover { background-color:$secondary; color: #fff;  }
}

#safe-bar {background-color: $primary;padding: 10px;font-family: $font2;text-transform: uppercase;font-weight: 500;font-size: 22px;
    span {margin: auto 15px;}
}

header { position: relative; padding: 15px; z-index: 100; background-color: #fff;
    .tel{color:$primary;font:400 41px/1.3 $font2;margin:0;
        > span{color:$text;font:700 20px/1 $font2;margin:0;display:block;text-transform:uppercase; letter-spacing: 1px;}
        &:hover {color: $secondary;}
    }
    #nav {display: flex; max-width: 1300px; justify-content: space-between; margin: auto;  align-items: center;  padding: 0 10px;  
        .btn {transition: 0.3s all ease; line-height: 1.2;color: #fff; background: rgb(94,184,143); background: linear-gradient(73deg, rgba(94,184,143,1) 0%, rgba(14,30,94,1) 100%);font-size: 29px; padding: 11px 15px; margin: 0; letter-spacing: 1.45px; min-width: 195px; font-family: $font2; font-weight: 700;
            span { display: block; font-size: 14px; letter-spacing: 0.7px;}
            &:hover {color: white; background: rgb(14,30,94);
                background: linear-gradient(73deg, rgba(14,30,94,1) 0%, rgba(94,184,143,1) 100%);}
        }
        .logo {opacity: 1;}
        #mobile-btns {
			width: 100%;display:flex;
			> * {flex: 1;}
			.btn {
				display: flex;
                background: $primary;
				flex-wrap: wrap;
				padding: 10px;
				justify-content: center;
				border-radius: 0;
				font-size: 16px;
				text-transform: uppercase;
				span {
					width: 100%;font-size: 28px;
				  }
			}
			.phone, .btn {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				span {
					width: 100%;
				}
			  }
			.phone {background-color: $secondary;color: #fff;font-size: 20px;line-height: 1.3;font-family: $font2;
				span {margin-bottom: 0;text-transform: uppercase;font-size: 16px;font-weight: 700;letter-spacing: 1px;font-family: $font2;}
			}
			#mobile-special {
				.container {
					margin: 10px 0;border-top: 2px solid #AFB1B1;border-bottom: 2px solid #AFB1B1;padding: 5px;
					h4 {color: $tertiary;font-size: 22px;margin: 0;}
					small {text-transform: uppercase;font-size: 14px;letter-spacing: .7px;font-weight: 700;}
				}
			}
		  }
    }
}
@media (min-width: 1000px) {
	#mobile-btns {
	  display: none!important;
	}
}
.fix-nav header{position:fixed;width:100%;left:0;top:0;right:0; animation-duration:.8s; animation-fill-mode:both; animation-name:slideIn; z-index:1100; box-shadow:0 3px 7px rgba(0,0,0,0.35);
    .logo img {max-height: 100px; display: block;}
    #nav .logo {display: block; opacity: 1; margin-bottom: 0;}
}
.address{color:$text;font:400 20px/21px $font2;margin:0;display:block;
    &:hover {color: $primary;}
}
.phone { color: $primary; font: 700 25px/30px $font; letter-spacing: normal;
    span {color: #fff; display: block; font: 700 16px/24px $font; text-transform: uppercase; letter-spacing: 0.1em; display: block; margin-bottom: 5px; }
    &:hover { color: $secondary;}
}

/* ------------   Split Img ------------- */

.split{ display:flex; justify-content:space-between; align-items:center; max-width:1160px;margin:100px auto; 
    article{margin:10px;padding:10px; flex:0 1 520px;
        p { letter-spacing: normal; line-height: 30px; margin-bottom: 30px;}
    }
    hr {display:none;}
    .btn {margin: 10px auto 30px;}
     figure  {
       img{ position: relative;  }
    }
    .no-shad img {box-shadow: none;}
    &.even figure { order: -1;}
}


/* -------------- Banner ----------------- */

#banner {
    display: flex;
    border-bottom: 10px solid $secondary;
    flex-flow: row wrap;
    justify-content: space-between;
    background: url(assets/images/lp-suresmile-banner-bkg.jpg);
    background-repeat: no-repeat;
background-size: cover;
    > * {
      flex: 1 0 500px;
    }
    figure {
      margin: 0;
      position: relative;
      order: 1;
      text-align: center;
      figcaption {background: rgba(255,255,255,0.9);position: absolute;bottom: 0;width: 100%;padding: 5px;font-weight: 700;font-size: 18px;font-family: $font2;text-transform:uppercase;}
      img {
        width: 100%;
        position: relative;
        width: 100%;
      }
      .caption {
        position: absolute;
        bottom: 0;
        font-size: 18px;
        width: 100%;
        font-weight: bold;
        letter-spacing: 1.3px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        text-transform:uppercase;
        color: $text;
        font-family: $font;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-50%);
        a {color: $text;letter-spacing: 1.6px;
            &:hover {color: $primary}
        }
      }
    }
  .flex-ed {display:flex;}
    article {
      position: relative;
      z-index: 2;
      padding: 10px;
      display: flex;
      margin: auto;
      flex: 0 1 600px;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 25px;
      .banner-block {background-color: #fff;padding: 20px 40px;width: 415px;position: relative;
        h3 {margin-top: 0;text-transform: uppercase;font-size: 45px;font-weight: 200;
            span {color: $primary;}
        }
        &:before {width: 100%;content: ''; height: 85%;background-color: $primary;position:absolute;left: -20px;bottom: 0;z-index: -1;}
      }
      * {
        color: #000;
      }
      small {opacity: 0.4;font-size: 16px;text-transform: uppercase;font-weight: 700;letter-spacing: 1.8px;}
      h1 {
        font-size: 58px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 1;
        text-align: center;
        color: #fff;
        text-transform:uppercase;position: relative;
        span {
          display: block;
          font-size: 94px;
          line-height: 1;
          color: #fff;
        }
      }
      hr {border-bottom: none;display: block;margin-top: -2px;
        margin-bottom: 0px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
    }
  }

// #banner {
//     position: relative; margin: 0 auto; padding: 0; background: url(assets/images/lp-ortho-banner.jpg) no-repeat; background-size: cover; background-position: center; -ms-flex-pack: distribute;  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); justify-content: space-around;
//     .flex-ed {overflow: hidden; }
//     h1 {margin-bottom: 50px; line-height: 1.15; font-size: 35px; color: #d2d7d8; letter-spacing: 1.75px;
//         small {font-size: 30px; display: block; margin-top: 15px; letter-spacing: -1px;}
//     }
//     figure { display: none;}
//     article { padding: 70px 10px 60px; margin-left: 20px;  z-index: 1; -webkit-box-flex: 0; -ms-flex: 0 1 610px; flex: 0 1 610px;
//         div {background-color: #231f20; font: 700 51px/51px $font; color: $tertiary; text-align: center; border-top: 5px solid rgba(215, 148, 79, .7); border-bottom: 5px solid rgba(215, 148, 79, .7); max-width: 535px; margin: auto; padding: 5px 0; letter-spacing: 1.27px;
//             span {  display: inline-block; text-align: left;font-size: 15px; letter-spacing: 0.75px; font-weight: 700; line-height: 1.07; text-transform: uppercase;}
//             small {color: white; font-size: 22px; letter-spacing: 0.15em; font-family: $font; font-weight: 700; display: block; text-transform: uppercase;
//                 &:nth-of-type(2){font-size: 20px; text-transform: none; letter-spacing: 0.45px;}}
//         }
//     }
//     p {font-size: 14px; color: #fff; font-weight: 700; line-height: 1.2;}
// }

#banner-wrapper { position: relative; margin-top: -60px; z-index: 101;}
#banner-wrapper:before { background-color: #eef7ff; position: absolute; left: 0; top: 60px; right: 0; content: ""; z-index: -2; bottom: -300px; }

#mobile-review {
    display:none;
	background-color: #fff;
	padding: 100px 0;
    #mobile-review-container {
        display: flex;
        position: relative;
        background-color: #fff;
        -webkit-box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
        box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
        max-width: 1200px;
        color: #fff;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
        margin: auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-radius: 10px;
        #google {
            background-color: #fff;
            -webkit-box-flex: 0;
            -ms-flex: 100%;
            flex: 100%;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-radius: 20px 0 0 20px;
            img {
                padding: 5px 0;
            }
            >div {
                margin: 70px auto 0;
                padding: 5px 25px;
            }
            p {
                color: $primary;
                line-height: 37px;
                display: block;
                margin-top: 25px;
                font-size: 18px;
                color: $text;text-align:center;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                font-weight: 700;
            }
            .review-stamp {
                position: absolute;
                top: -50px;
                left: -50px;
            }
        }
        .comment {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 780px;
            flex: 1 1 780px;
            padding: 10px 25px 45px;
            text-align: left;
            margin: auto;
            p {
                text-align: center;
                font: 300 27px/30px $font2;
                margin-top: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                letter-spacing: .03em;
            }
            .caption2 {
                font: 600 18px/1 $font2;
                text-transform: uppercase;
                margin: 30px 0 10px;
                letter-spacing: 1.95px;
            }
        }
    }
}

#review-container {max-width: 1260px; margin: 80px auto 60px;box-shadow: 5px 4px 4px lightgray;
    #reviews {width: 98%; margin-left: auto; background-color: #fff;position: relative;
        &:before {width: 100%;content: ''; height: 95%;background-color: $primary;position:absolute;left: -25px;bottom: 0;z-index: -1;}
        .flex-ed {align-items: center; flex-wrap: nowrap;padding: 20px 0;
            figure {position: relative;
                figcaption {position: absolute;bottom: 0;width: 100%;background-color: rgba(255,255,255,0.9);text-transform:uppercase;font-family: $font2;font-weight: 700;font-size: 18px;}
            }
        }
        .reviews-image { margin: 40px; margin-right: 10px;}
        .gallery {max-width: 1000px; flex: 0 1 900px; margin: 0; padding: 0 30px;
            .review {text-align: left; padding-left: 50px; color: #fff; position: relative;
                h3 {margin-bottom: 10px;text-transform: uppercase;font-weight: 200;font-size: 45px;}
                p {color: $text;font-family: $font2;font-size: 23px;}
                author {color: $text;text-transform: uppercase;font-weight: 700;font-family: $font2;display: flex;}
                img {margin-left: 0; margin-top: 10px;}
                &:before {content: '\e838'; position: absolute; left: 0; top: 45px; font-family: fontello;opacity: 1;
                    color: #90ceb4; font-size: 46px; transform: rotateZ(180deg); display: block; z-index: 10;}
                &:after {content: '\e838'; position: absolute; right: 0; bottom: 45px; font-family: fontello;opacity: 1;
                    color: #90ceb4; font-size: 46px; display: block; z-index: 10;}
            }
        }
    }
}

#forms{position:relative;background-color:$secondary; padding: 30px 15px 50px;
    form{text-align:center;padding:20px;max-width:100%; width: 1150px;margin:0 auto;z-index:3;
        h3{font:200 42px/1 $font;text-transform:uppercase;color:#fff;margin:30px 0 10px; 
            span {color: $tertiary; display: block}
        }
        hr {border-bottom: none;display: block;margin-top: 20px;margin-bottom: 25px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
        input, textarea, select{height:44px;border:none;background-color:#f2f2f2;font-size:17px;font-family:"Barlow",sans-serif;color:$text;padding:5px;display:block}
        textarea{width:100%;height:96px; padding-left: 10px;}
        .btn{margin:5px 0 0; border-radius: 0; padding: 12px 20px;font-family: $font2;}
    }
    .container{display:flex;justify-content:space-between;align-items:flex-start;width:100%;flex-wrap:wrap;max-width:950px; margin: auto;
        div{flex:0 1 40%;max-width:500px;display:flex;flex-direction:column;justify-content:center;
            &:last-of-type {max-width: 525px; flex: 0 1 50%;}
        }
        span{font-size:16px;padding:5px 0;
            input,select{width:100%}
        }
        select{min-width:140px}
    }
}




/* ---------------- Callouts Styles  ---------------- */

.callouts{ margin:20px auto;display:flex;justify-content:space-around;align-items:stretch;max-width:1140px;height:auto;padding:10px 0;width:100%; margin-top: 80px; z-index: 102;
    .col {display:flex;align-items:center;text-decoration:none;justify-content:center;position:relative;flex-direction:column;margin:15px 0;padding:5px;
        h3 {margin-top: 20px; margin-bottom:0;} 
        &:hover h3{color:$secondary;}
    }
   .portrait { width:100%; background-color: #fff; border-radius:10px;padding:0;overflow:hidden; box-shadow: 1px 3px 7px 0px rgba(0,0,0,0.35);display: flex;  flex-direction: column; justify-content: center; align-items: center; 
       &:after{content:"";width:95%;height:95%;position:absolute;border: 2px solid white; border-radius:10px;z-index:3;margin:auto;top:0;bottom:0;left:0;right:0}
       &:hover:after {border-color: $secondary}
       img{position:relative;z-index:3}
   }
    p {line-height: 1.33; margin-top: 20px; letter-spacing: 0.45px; font-size: 18px;}
}

#secondary {background-color: #4fa79d; margin: 0 auto 10px; padding: 60px 20px;
    .callouts {margin-top: 0;}
    a {   flex: 0 0 255px; }
    a h3 {letter-spacing: normal; line-height: 1.35; margin: 0 auto; color: $secondary; font-weight: 700; font-family: $font; font-size: 26px;}
    .callouts .portrait {  min-height: 260px;
        &:after {width: 92%; height: 92%; border: 2px solid $primary;}
        &:hover:after {border-color: $secondary}
    }
    .callouts .icon-location { top: -5px; font-size: 30px; color: $tertiary;}
}

/* -------------- Team ----------------- */
#team {
    h2 {margin-bottom: 30px;}
    hr {display:none;}
    br {display:none;}
    figure { position: relative;display: flex; justify-content: space-between; align-items: flex-start; flex: 0 1 575px;}
    figcaption { font-size: 15px; text-transform: uppercase; font-weight: 300; margin-top: 5px;
        span {padding: 0 7px;}}
}
#team figcaption{position: relative; bottom: 51px; background-color: #303542; width: 100%; color: white; padding: 5px 10px;
    span {color: #4fa79d;}
    a {color: #fff; letter-spacing: normal; font-family: $font; font-size: 16px; font-weight: 700; text-transform: uppercase;
        &:hover {color: $tertiary;}}}


/* --------- Benefits -------- */
#benefits{padding-top:75px;max-width:100%;margin:0 auto; position: relative; z-index: 300;background: url(assets/images/lp-suresmile-benefits.jpg);background-size: cover;}
#benefits h2{margin-bottom:20px;font-size:71px;text-align:center;color: #fff;text-transform:uppercase;font-weight: 200;}
#benefits h3 {font-family: $font; color: #fff; font-size: 60px;text-transform:uppercase; letter-spacing: -0.02em; text-align: left;}
#benefits hr {border-bottom: none;display: block;margin-top: 20px;margin-bottom: 25px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
#benefits .flex-ed{padding:0 10px;justify-content:center;flex-wrap:nowrap;position:relative;z-index:1;align-items:center}
/*#benefits .flex-ed:after{content:'';position:absolute;top:0;right:0;width:50%;height:100%;background-color:#162148;z-index:-1}*/
#benefits .col-flex-ed{position:relative}
#benefits ul{padding-left:0}
#benefits h2 small {font-weight: 400;}
#benefits ul li{list-style:none;color:#fff;font-size:20px;line-height: 1;margin: 30px 0;padding-top: 5px;font-family: $font2;text-align:left;position:relative;padding-left:35px}
#benefits ul li:before{content:url("assets/images/lp-suresmile-check.png");width:20px;left:0;position:absolute;display:inline-block;padding-top:5px}
#benefits .braces li:before{content:url("assets/images/lp-suresmile-x.png")}
.line{display:inline-block;position:absolute;top:0;right:50%;transform:translateX(50%);width:2px;height:100%;background-color:#fff}
.rounded-rect{width:14px;height:43px;background-color:$tertiary;border:1.87px solid #fff;border-radius:5px;position:absolute;bottom:10px;left:0;right:0;margin-left:auto;margin-right:auto}


/* ---------------- Contact --------------- */

footer { padding-top: 70px; background-color: $secondary;position: relative;
    h2 {color: white;font-size: 71px;}
    hr {border-bottom: none;display: block;margin-top: 20px;margin-bottom: 25px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
    .flex-ed {justify-content: space-around; align-items: center; max-width: 1150px; padding-bottom: 30px; margin: 30px auto;}
    article { 
        background-color: #fff; position: relative;text-align: center;height: 438px; margin: 10px; flex: 0 1 800px;padding: 10px; box-shadow: 1px 3px 7px 0px rgba(0,0,0,0.35);
        &:before {width: 100%;content: ''; height: 95%;background-color: $primary;position:absolute;left: -20px;bottom: 0;z-index: -1;}
    }
    .phone {font-size: 36px;color: $primary; margin: 10px auto; font-weight: 400; display: block; font-family: $font2;
        span {color: $text;font-family: $font2;}
        &:hover {color: $secondary; }
    }
    .phonelike {font-size: 36px;color: $primary; margin: 10px auto; font-weight: 700; display: block; font-family: $font; text-transform: uppercase;}
    .address { color: #000;font-size: 20px; line-height: 1.33; margin-top: 20px; letter-spacing: 0.45px;
        &:hover {color: $primary; }
    }
    h3 { margin-top: 30px; margin-bottom:10px; color: #101926; font-weight: 500; font-size: 30px; font-family: $font;}
}
#services, #footer-form { min-height: 430px; 
    h3 {font-size: 30px;}}
.contact {flex: 0 1 450px;padding: 30px 10px 20px;
    h3 {font-size: 36px; margin-top: 20px; margin-bottom: 10px;}
    p {padding-bottom: 20px; margin-top: 10px;}
}
#map {display: table; width: 100%; border-radius: 10px; overflow: hidden;
    iframe {display: block;}
}

#services {  order: -1;
    ul { margin-top: 30px; padding-left: 0; margin-bottom: 10px;}
    li { margin: 10px auto; list-style: none; text-align: center;  border: 1px solid $primary; border-radius: 2px; background-color: $primary; box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
        a { display: block; color: #fff; font-weight: 700; font-family: $font;  font-size: 24px; letter-spacing: normal; padding: 32px 20px;}
        &:hover {background-color: $secondary; 
            a {color: white;}}
    }
}
.simple {margin: 20px 0 5px;
    .btn { width: 90%; font-size: 14px; font-weight: 700; padding: 15px 10px; min-width: auto; background-color: $primary; box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
        &:hover {background-color: $secondary;}}
    input, select {height: 45px;}
    textarea { height: 90px; padding-top: 8px }
    input, textarea, select {
        outline: none;
        border: none; 
        background-color: #ededed;
        margin: 3px 0;
        width: 90%;
        padding: 6px 10px;
        font-size: 18px; 
        color:  $text; 
    }
    input:focus,   textarea:focus, .btn:focus, select:focus { background-color: #f7f4f4; box-shadow: inset 0 3px 0 $secondary;}
}
::placeholder { color: $text; }

.copy { background-color: #000;font: 400 12px/1.4 $font2; text-transform:uppercase;color: rgb(255, 255, 255);  margin-top: 20px; text-align: center; padding:30px 0; 
   span {padding: 0 5px;}
   a { margin: auto;  color: $primary;
       &:hover { color: $primary;}
    }
    p {color: rgba(255, 255, 255, .5);  font-size: 18px; line-height: 1.67; text-transform: uppercase; }
}


/* ---------------- New Patient Form ---------------- */

#landing-page-form {
    position: relative;
    max-width: 850px;
	padding: 0px 10px 10px;
    margin: 20px auto;
    h1 {font-size: 50px; margin-bottom: 30px; color: $secondary; text-align: center; padding-top: 20px; font-weight: 400; text-shadow: none;} 
    p {max-width: 680px; margin: auto; margin-bottom: 30px;}
    .simple { margin: auto; display: table; width: 100%; max-width: 550px;
        label {display: none;}
        input {height: 50px;}
        textarea { height: 200px; margin-bottom: 30px; padding-top: 10px;;}
    }
    .btn {width: 160px;}
}
/* ---------------- Media Queries ---------------- */
@media(max-width: 1400px) {
    .top-logo {left: 5%; transform: translateX(-5%);}
}

@media(max-width: 1150px) {
    .addresses address:last-of-type {display: none;}
    .addresses {max-width: 500px;}
}

@media(max-width: 1110px) {
    h1 {font-size: 50px;}
    h1 span {font-size: 60px;}
    #banner article {flex: 0 1 48%;}
    #team figcaption a {font-size: 14px;}
}

@media(max-width: 1040px) {
    h1 {font-size: 44px;}
    h1 span {font-size: 55px;}
    .callouts h3 {font-size: 25px;}
    #secondary a {flex: 0 0 230px;}
    #list {display: none;}
    #benefits .flex-ed div {margin: 0 20px;}
    #benefits .flex-ed h3 {text-align: center;}
    #benefits .flex-ed:after {display: none;}
}
@media(max-width: 1000px) {
    header {  padding: 0; -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
        #nav {padding: 0;
            > .btn {display:none}
        }
    }
    header .address, header .tel, header .location-title{display:none}
    hr {display: block; max-width: 95%; }
    #nav {padding-top: 0; -ms-flex-pack: distribute; justify-content: space-around;}
    #nav .logo { flex: 0 1 270px; padding-top:10px; margin-left: 0; }
    #nav .btn {margin: 10px 0 0;}
    header address a:first-of-type {display: none;}
    header address {flex: none; width: 240px;}
    #banner {background: url(assets/images/lp-suresmile-banner-bkg-mobile.jpg); background-color: #2b2b2b;
        h1 {font-size: 52px; }
        article {min-width: 450px; padding: 40px 10px 10px;margin: 40px auto 50px; padding-top: 20px;
            div { max-width: 500px; margin: 10px auto 15px;}
        }
        .flex-ed {display: block;}
        figure {display: block;}
    }
    #mobile-review {
		padding: 0;display:block;
	}
    #review-container {margin-top: 20px;margin-bottom: 0;}
    #reviews {display:none;}
    .split {margin: 20px auto; display: block; }
    .split article {max-width: 100%; padding: 20px 10px;}
    .split article .btn {float: none; margin: auto; display: table; }
    .split figure {margin: 20px auto;}
    .callouts {flex-wrap: wrap; max-width: 600px;}
    .callouts .calls {max-width: 600px; flex-wrap: wrap; margin: auto;   justify-content: space-around;}
    #choice figure {margin-bottom: 0;}
    #secondary {padding: 15px 0;}
    #secondary a {flex: 0 0 255px;}
    footer .flex-ed {flex-wrap: wrap; max-width: 700px; margin: auto;
        figure {display:none;}
    }
    #services {order: 1}
    .contact {flex: 0 1 690px;}
    #services, #footer-form {flex: 1;}
    #team figure {max-width: 575px; margin: auto;}
}

@media (max-width: 900px) {
    #upper-form .fields {flex: 0 1 165px;}
    #nav .logo { margin-top: 0px; max-width: 100%; flex: 1 1 100%; display: block; opacity: 1; margin-bottom: 0;}
    #nav {flex-wrap: wrap; text-align: center;}   
    #nav .btn {display: table; margin: 10px 5px;}
    .top-logo {display: none;;}
    #banner-wrapper {margin-top: 0;}
    #safe-bar {background: linear-gradient(73deg, rgb(94, 184, 143) 0%, rgb(14, 30, 94) 100%);
        span {width: 100%;display:block;text-transform:none;color: #fff;font-size: 18px;
            &:nth-of-type(2) {display:none;}
        }
    }
    #benefits {background: url(assets/images/lp-suresmile-benefits-mobile.jpg);background-size: cover;padding: 50px 10px;
        background-repeat: no-repeat;
        h2 {font-size: 45px;}
    }
    footer {
        .contact {
            &:before {left: 0;bottom: -20px;}
        }
    }
}

@media (max-width: 740px) {
    #forms .container div {flex: 100%!important;max-width: none!important}
    #banner {
        > * {flex: auto;}
        figure {max-width: 100%;
            img {margin: 0;width: auto;}
        }
        article {
            h1 {font-size: 36px;
                span {font-size: 68px;}
            }
            .banner-block {max-width: 350px;
                margin: 0;
                width: auto;
                &:before {bottom: -10px;left: 0;}
                h3 {font-size: 34px;}
            }
        }
    }
    #team {
        br {display:block;}
        h2 {font-size: 45px;}
        hr {display:block;border-bottom: none;display: block;margin-top: 20px;margin-bottom: 25px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
    }
    #forms {border-top: 15px solid $primary;}
    .callouts .col {margin: 0 auto;}
    .callouts a h3 {margin-bottom: 15px; line-height: 1.2; }
    #benefits .flex-ed {display: block;}
    #mobile-review {
		padding: 50px 25px;
		#review-container {
			#google {border-radius:10px 10px 0 0;flex: auto;}
			.comment {
				p {font-size: 30px;text-align: center;}
				.caption2 {font-size: 18px;width: 100%;}
			}
		}
	}
    footer {
        h2 {font-size: 45px;}
    }
}
@media (max-width: 590px) {
    #nav .logo {margin-bottom: 20px; max-width: 90%;}
    #banner h1 {font-size: 42px;}
    h1 span { font-size: 42px; margin: 10px;}
    #banner h1 small {font-size: 28px;}
    #banner article {min-width: 300px;}
    #banner article .btn {font-size: 28px;}
    #banner article div {line-height: 1.1;}
    h2 { margin-top: 20px; font-size: 30px; }
    .split figure {padding: 0 10px;}
    .split article p {text-align: center; padding: 0 10px;}
	.copy {padding: 40px 10px 25px; }
    #map {display: none;}
    footer .contact {padding: 20px 10px;}
    footer .flex-ed {display: block;}
    #landing-page-form h1 {font-size: 40px;}
    .btn {min-width: auto;}
    .btn {max-width: 100%;}
    #team figcaption span {display: block; font-size:0; padding:0; line-height: 0;}
    .addresses {flex-wrap: wrap; margin: auto;}
    address {margin: auto; text-align: center;}
    .split {
        h2 {font-size: 45px;}
        hr {display:block;border-bottom: none;display: block;margin-top: 20px;margin-bottom: 25px;width: 250px;background-image: url("assets/images/lp-suresmile-line.png");height: 2px;}
    }
}
@media (max-width: 500px) {
    #banner article div {font-size: 35px;}
}

@media (max-width: 400px) {
    #banner h1 {font-size: 32px;}
    #banner article div { font-size: 24px; padding-top: 10px;}
    #banner article div span strong {font-size: 20px;}
    .split article .btn {font-size: 24px; margin-bottom: 20px;}
    #callouts h2 {font-size: 36px;}
    .callouts {padding-bottom: 10px;}
    #team figure {display: table;}
    #services h3 {margin-top: 10px;}
    #services ul li a {font-size: 18px;}
    .copy {padding-bottom: 20px;}
}

  @media (max-width: 350px) {
    #nav {display: block;}
    #nav .btn {margin: 10px auto;}
    #banner h1 {line-height: 1;}
    #banner article .btn {font-size: 20px;}
    #banner article div {font-size: 16px;}
    #banner article div span {font-size: 18px;}
    h2 {font-size: 24px;}
    .split article .btn {padding: 5px 7px; font-size: 22px;}
}
 

